.background-purple {
   background-color: mediumpurple !important;
}

.background-orange {
    background-color: darkorange !important;
}

.background-olive {
    background-color: olivedrab !important;
}

.background-blue {
    background-color: #008ced !important;
}

