{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Villas de San Pablo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="Paper - Material Admin Theme">
    <meta name="author" content="KaijuThemes">
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        <script>
            // Use same django for material and django admin
            var django = django || {};
            django.jQuery = jQuery.noConflict(true);
            window.jQuery = window.$ = django.jQuery
        </script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <link type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500' rel='stylesheet'>
    <link type='text/css' href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{% static 'assets/css/styles.css' %}" type="text/css" rel="stylesheet">
    <!-- Core CSS with all styles -->

    <link href="{% static 'assets/plugins/codeprettifier/prettify.css' %}" type="text/css" rel="stylesheet">
    <!-- Code Prettifier -->

    <link href="{% static 'assets/plugins/dropdown.js/jquery.dropdown.css' %}" type="text/css" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static 'assets/plugins/progress-skylo/skylo.css' %}" type="text/css" rel="stylesheet">
    <!-- Skylo -->


    <link href="{% static 'assets/plugins/form-daterangepicker/daterangepicker-bs3.css' %}" type="text/css"
          rel="stylesheet">
    <!-- DateRangePicker -->
    <link href="{% static 'assets/plugins/fullcalendar/fullcalendar.css' %}" type="text/css" rel="stylesheet">

   {% block css_extra %}{% endblock %}

</head>

<body class="animated-content infobar-overlay">


<header id="topnav" class="navbar navbar-default navbar-fixed-top  navbar-indigo" role="banner">
    <!-- <div id="page-progress-loader" class="show"></div> -->

    <div class="logo-area">
        <a class="navbar-brand navbar-brand-primary" href="index.html">
            <img class="show-on-collapse img-logo-white" alt="Paper"
                 src="{% static 'assets/img/logo-icon-white.png' %}">
            <img class="show-on-collapse img-logo-dark" alt="Paper" src="{% static 'assets/img/logo-icon-dark.png' %}">
        </a>

        <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg stay-on-search">
                 <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
                    <span class="icon-bg">
                       <i class="material-icons">menu</i>
                   </span>
               </a>
           </span>
    </div><!-- logo-area -->

    <ul class="nav navbar-nav toolbar pull-right">

        <li class="toolbar-icon-bg appear-on-search ov-h" id="trigger-search-close">
            <a class="toggle-fullscreen">
                <span class="icon-bg">
                  <i class="material-icons">close</i>
              </span>
            </a>
        </li>
        <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
            <a href="#" class="toggle-fullscreen">
            <span class="icon-bg">
              <i class="material-icons">fullscreen</i>
          </span>
            </a>
        </li>

        <li class="dropdown toolbar-icon-bg">
            <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i
                    class="material-icons">account_circle</i></span><span class="badge badge-info"></span></a>
            <div class="dropdown-menu animated notifications">
                <div class="topnav-dropdown-header">
                    <span>Acciones de usuario</span>
                </div>

                <div class="topnav-dropdown-footer">
                    <a href="{% url 'admin:index' %}" target="_blank">
                        Ir al administrador
                    </a>
                </div>
                <div class="topnav-dropdown-footer">
                    <a href="{% url 'salir' %}" class="text-danger">Cerrar Sesion</a>
                </div>
            </div>
        </li>


    </ul>

</header>

<div id="wrapper">
    <div id="layout-static">
        <div class="static-sidebar-wrapper sidebar-indigo">
            <div class="static-sidebar">
                <div class="sidebar">
                    <div class="widget" id="widget-profileinfo">
                        <div class="widget-body">
                            <div class="userinfo ">
                                <div class="avatar pull-left">
                                    <img src="{% static 'assets/demo/avatar/avatar_15.png' %}"
                                         class="img-responsive img-circle">
                                </div>
                                <div class="info">
                                    <span class="username">
                                        {{ user.get_full_name }}
                                    </span>
                                    <span class="useremail">{{ user.email }}</span>
                                </div>

                                <div class="acct-dropdown clearfix dropdown">
                                    <span class="pull-left"><span class="online-status online"></span>Online</span>
                                    <!-- <span class="pull-right dropdown-toggle" data-toggle="dropdown"><a href="javascript:void(0)" class="btn btn-fab-caret btn-xs btn-fab"><i class="material-icons">arrow_drop_down</i><div class="ripple-container"></div></a></span>
                                    <ul class="dropdown-menu">
                                        <li><span class="online-status online"></span> Online</li>
                                        <li><span class="online-status online"></span> Online</li>
                                        <li><span class="online-status online"></span> Online</li>
                                        <li><span class="online-status online"></span> Online</li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget stay-on-collapse" id="widget-sidebar">
                        <nav role="navigation" class="widget-body">
                            {% include 'sidebar_menu.html' %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-content-wrapper">
            <div class="static-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <div data-widget-group="group1" style="margin-top: 5%;">
                            {% block main %}
                            {% endblock %}
                        </div>
                    </div> <!-- .container-fluid -->
                </div> <!-- #page-content -->
            </div>
            <footer role="contentinfo">
                <div class="clearfix">
                    <ul class="list-unstyled list-inline pull-left">
                        <li><h6 style="margin: 0;">&copy; 2017 Villas de San Pablo</h6></li>
                    </ul>
                </div>
            </footer>

        </div>
    </div>
</div>


<!-- Das FAB -->
{% block fab %}
{% endblock %}

<!-- Switcher -->

<!-- Load jQuery -->
<script src="{% static 'assets/js/jqueryui-1.10.3.min.js' %}"></script>
<!-- Load jQueryUI -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>                                <!-- Load Bootstrap -->
<script src="{% static 'assets/js/enquire.min.js' %}"></script>                                    <!-- Load Enquire -->

<script src="{% static 'assets/plugins/velocityjs/velocity.min.js' %}"></script>
<!-- Load Velocity for Animated Content -->
<script src="{% static 'assets/plugins/velocityjs/velocity.ui.min.js' %}"></script>

<script src="{% static 'assets/plugins/progress-skylo/skylo.js' %}"></script>        <!-- Skylo -->

<script src="{% static 'assets/plugins/wijets/wijets.js' %}"></script>                            <!-- Wijet -->

<script src="{% static 'assets/plugins/sparklines/jquery.sparklines.min.js' %}"></script>             <!-- Sparkline -->

<script src="{% static 'assets/plugins/codeprettifier/prettify.js' %}"></script>
<!-- Code Prettifier  -->

<script src="{% static 'assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js' %}"></script>
<!-- Bootstrap Tabdrop -->

<script src="{% static 'assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js' %}"></script> <!-- nano scroller -->

<script src="{% static 'assets/plugins/dropdown.js/jquery.dropdown.js' %}"></script> <!-- Fancy Dropdowns -->
<script src="{% static 'assets/plugins/bootstrap-material-design/js/material.min.js' %}"></script>
<!-- Bootstrap Material -->
<script src="{% static 'assets/plugins/bootstrap-material-design/js/ripples.min.js' %}"></script>
<!-- Bootstrap Material -->

<script src="{% static 'assets/js/application.js' %}"></script>
<script src="{% static 'assets/demo/demo.js' %}"></script>
<script src="{% static 'assets/demo/demo-switcher.js' %}"></script>

<!-- End loading site level scripts -->

<!-- Load page level scripts-->



<script src="{% static 'assets/plugins/form-daterangepicker/moment.min.js' %}"></script>
<!-- Moment.js for Date Range Picker -->

<!-- Date Range Picker -->
<script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<!-- Datepicker -->
<!-- <script src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> -->
<!-- DateTime Picker -->
<!-- Initialize scripts for this page-->
<script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<!-- End loading page level scripts-->
<script src="{% static 'assets/plugins/form-daterangepicker/moment.min.js' %}"></script>
<!-- Moment.js for Date Range Picker -->

<script src="{% static 'assets/plugins/form-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>            <!-- Color Picker -->

<script src="{% static 'assets/plugins/form-daterangepicker/daterangepicker.js' %}"></script>
<!-- Date Range Picker -->
<script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>                <!-- Datepicker -->
<script src="{% static 'assets/plugins/bootstrap-timepicker/bootstrap-timepicker.js' %}"></script>                <!-- Timepicker -->
<script src="{% static 'assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script> <!-- DateTime Picker -->

<script src="{% static 'assets/plugins/clockface/js/clockface.js' %}"></script>                                    <!-- Clockface -->


<script src="{% static 'assets/demo/demo-pickers.js' %}"></script>

{% block js_extra %}
{% endblock %}

</body>
</html>