<!DOCTYPE html>
<html lang="en" class="coming-soon">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Iniciar Sesion</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="author" content="KaijuThemes">

    <link type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500' rel='stylesheet'>
    <link type='text/css' href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'assets/plugins/progress-skylo/skylo.css' %}" type="text/css" rel="stylesheet">
    <!-- Skylo -->

    <link href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'assets/css/styles.css' %}" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link href="assets/css/ie8.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following CSS are included as plugins and can be removed if unused-->

</head>

<body class="focused-form animated-content">


<div class="container" id="login-form">
    <a href="index.html" class="login-logo">

    </a>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Iniciar Sesion</h2>
                </div>
                <div class="panel-body">
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <strong>Error</strong>, {{ msj }}
                        </div>
                    {% endif %}
                    <form method="post" class="form-horizontal" id="validate-form">{% csrf_token %}
                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-user"></i>
										</span>
                                    <input type="text" class="form-control" placeholder="Usuario"
                                           data-parsley-minlength="6" name="username" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-md">
                            <div class="col-xs-12">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="ti ti-key"></i>
										</span>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                           placeholder="Contraseña" name="password" required>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-raised pull-right" type="submit">
                            Entrar
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Load site level scripts -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

<script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>                            <!-- Load jQuery -->
<script src="{% static 'assets/js/jqueryui-1.10.3.min.js' %}"></script>
<!-- Load jQueryUI -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>                                <!-- Load Bootstrap -->
<script src="{% static 'assets/js/enquire.min.js' %}"></script>                                    <!-- Load Enquire -->

<script src="{% static 'assets/plugins/velocityjs/velocity.min.js' %}"></script>
<!-- Load Velocity for Animated Content -->
<script src="{% static 'assets/plugins/velocityjs/velocity.ui.min.js' %}"></script>

<script src="{% static 'assets/plugins/progress-skylo/skylo.js' %}"></script>        <!-- Skylo -->

<script src="{% static 'assets/plugins/wijets/wijets.js' %}"></script>                            <!-- Wijet -->

<script src="{% static 'assets/plugins/sparklines/jquery.sparklines.min.js' %}"></script>             <!-- Sparkline -->

<script src="{% static 'assets/plugins/codeprettifier/prettify.js' %}"></script>
<!-- Code Prettifier  -->

<script src="{% static 'assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js' %}"></script>
<!-- Bootstrap Tabdrop -->

<script src="{% static 'assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js' %}"></script> <!-- nano scroller -->

<script src="{% static 'assets/plugins/dropdown.js/jquery.dropdown.js' %}"></script> <!-- Fancy Dropdowns -->
<script src="{% static 'assets/plugins/bootstrap-material-design/js/material.min.js' %}"></script>
<!-- Bootstrap Material -->
<script src="{% static 'assets/plugins/bootstrap-material-design/js/ripples.min.js' %}"></script>
<!-- Bootstrap Material -->

<script src="{% static 'assets/js/application.js' %}"></script>
<script src="{% static 'assets/demo/demo.js' %}"></script>
<script src="{% static 'assets/demo/demo-switcher.js' %}"></script>

<!-- End loading site level scripts -->
<!-- Load page level scripts-->


<!-- End loading page level scripts-->
</body>
</html>