<ul class="acc-menu">

    <li class="nav-separator"><span>Menu de navegacion</span></li>

    <li>
        <a class="withripple" href="{% url 'main:inicio' %}">
            <span class="icon">
		        <i class="material-icons">home</i>
            </span>
            <span>Inicio</span>
            <div class="ripple-container"></div>
        </a>
    </li>

    <li class="hasChild"><a class="withripple" href="javascript:;">
        <span class="icon">
            <i class="fa fa-graduation-cap"></i>
        </span>
        <span>Educacion</span>
        <div class="ripple-container"></div>
    </a>
        <ul class="acc-menu">
            <li><a class="withripple" href="{% url 'personas:lista_grados_escolaridad' %}">Grados de escolaridad</a>
            </li>
            <li><a class="withripple" href="{% url 'personas:lista_titulos_grado' %}">Titulos de grado</a></li>
            <li><a class="withripple" href="{% url 'personas:lista_tipos_formacion_complementaria' %}">Formacion complementaria</a></li>
            <li><a class="withripple" href="{% url 'habilidades_blandas:lista_habilidades_blandas' %}">Habilidades Blandas (ok)</a></li>
            <!--<li><a class="withripple" href="{% url 'habilidades_blandas:lista_capacitacion' %}">Capacitacion</a></li>-->
        </ul>
    </li>

    <li class="hasChild"><a class="withripple" href="javascript:;">
        <span class="icon">
            <i class="material-icons">location_on</i>
        </span>
        <span>Infraestructura</span>
        <div class="ripple-container"></div>
    </a>
        <ul class="acc-menu">
            <li><a class="withripple" href="{% url 'personas:lista_tipos_manzana' %}">Tipos de manzana</a></li>
            <li><a class="withripple" href="{% url 'personas:lista_tipos_vivienda' %}">Tipos de vivienda</a></li>
            <li><a class="withripple" href="{% url 'personas:lista_manzanas' %}">Manzanas</a></li>
        </ul>
    </li>

    <li>
        <a class="withripple" href="{% url 'personas:lista_casas' %}"><span class="icon">
		    <i class="material-icons">favorite_border</i></span>
            <span>Casas</span>
            <div class="ripple-container"></div>
        </a>
    </li>

    <li>
        <a class="withripple" href="{% url 'personas:lista_personas' %}"><span class="icon">
		    <i class="material-icons">accessibility</i></span>
            <span>Personas</span>
            <div class="ripple-container"></div>
        </a>
    </li>

    <li class="hasChild"><a class="withripple" href="javascript:;">
        <span class="icon">
            <i class="material-icons">account_circle</i>
        </span>
        <span>Empleabilidad</span>
        <div class="ripple-container"></div>
    </a>
        <ul class="acc-menu">
            <li><a class="withripple" href="{% url 'empleabilidad:lista_vacantes' %}">Vacantes</a></li>
            <li>
                <a class="withripple" href="{% url 'empleabilidad:lista_formaciones_trabajo' %}">
                    Formacion para el trabajo
                </a>
            </li>
        </ul>
    </li>

    <li class="hasChild">
        <a class="withripple" href="javascript:;">
            <span class="icon">
                <i class="material-icons">local_atm</i>
            </span>
            <span>Emprendimiento</span>
            <div class="ripple-container"></div>
        </a>
        <ul class="acc-menu">
            <li><a class="withripple" href="{% url 'emprendimiento:lista_tipo_negocio' %}">Tipos de negocio</a></li>
            <li><a class="withripple" href="{% url 'emprendimiento:lista_tipo_unidad_productiva' %}">Unidades Productivas</a></li>
            <li><a class="withripple" href="{% url 'emprendimiento:lista_sectores' %}">Sectores</a></li>
            <li><a class="withripple" href="{% url 'emprendimiento:lista_negocio' %}">Negocios</a></li>
            <li><a class="withripple" href="{% url 'emprendimiento:lista_empresa' %}">Empresas</a></li>
            <li><a class="withripple" href="{% url 'emprendimiento:lista_emprendimiento' %}">Emprendimientos</a></li>
            <li><a class="withripple" href="{% url 'emprendimiento:lista_oportunidad_comercial' %}">Oportunidades Comerciales</a></li>
            <li><a class="withripple" href="{% url 'emprendimiento:lista_fortalecimiento_empresarial' %}">Fortalecimiento Empresarial</a></li>
        </ul>
    </li>

</ul>