{% extends 'apps/base/list_base.html' %}
{% block title_table %}
    Lista Capacitacion
{% endblock %}

{% block content_main_table_data %}
    <tr class="odd" role="row">
        <td class="center text-center">
            {{ obj.id }}
        </td>
        <td class="center text-center">
            {{ obj.nombre }}
        </td>
        <td class="center text-center">
            <a href="{{ obj.get_update_url }}" class="btn btn-info btn-raised waves-effect btn-xs"
               data-toggle="tooltip" data-placement="top" title=""
               data-original-title="Modificar">
                <i class="fa fa-pencil"></i>
            </a>
        </td>
    </tr>
{% endblock %}

{% block fab %}
<a href="{% url 'habilidades_blandas:crear_capacitacion' %}" class="btn btn-primary btn-fab demo-switcher-fab"
        data-toggle="tooltip" data-placement="top"
        title="Crear Capacitacion">
    <i class="material-icons">add</i>
</a>
{% endblock %}